 <head>
     <meta charset="utf-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these       tags -->
     <title>
     Infants Lab | Send Email
     </title>
     <!-- TO DO: Rewrite -->
	 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	      <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
     <link rel="icon" 
         type="image/png" 
         href="/static/assets/img/favicon.png">
    <link href="/static/assets/css/general.css" rel="stylesheet">    
 	<link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" type="text/css" media="screen" rel="stylesheet">
     <script src="/static/assets/js/vendor/jquery.min.js"></script>
     <script src="/static/assets/js/ga.js"></script>
	 {{ form.media.js }}
 </head>
 <body>
 <div class="container-fluid passage" style="margin:5px">
 </div>
<div class="container-fluid passage" style="margin:35px">
	<h4>Send Email</h4>
     <form method="post" class='form-group'>
         {% csrf_token %}
		 {% for field in form %}
          <div style="margin-top:10px; margin-bottom:10px;" id = 'field-{{field.name}}'>
                {{ field.label_tag }}
                {{ field }}
          </div>
		  {% endfor %}
          <div style="margin-top:10px; margin-bottom:10px;" id = 'field-template'>
                {{ template_form.name.label_tag }}
                {{ template_form.name }}
          </div>
            <div style="margin-top:10px; margin-bottom:10px; color: red;">
                  {{ message }}
             </div>
 
        <input type="button" value="Send"  id="send-button"  style="display: inline-block;" class="btn btn-default"/>
        <input type="button" value="Sign In" id="authorize-button"  style="display: none;" class="btn btn-default"/>
        <input type="button" value="Sign Out" id="signout-button"  style="display: inline-block;" class="btn btn-default"/>
    </form>
</div>

    <script type="text/javascript">
		var GMAIL_USER_ID = 116874060231880081383;
		var TEMPLATE_LABEL_ID = 'Label_9127865771684687421'
      // Client ID and API key from the Developer Console
      var CLIENT_ID = '874612665261-0f77qd1ovc8g8d19hfjtl525u8jadgbr.apps.googleusercontent.com';
      // Array of API discovery doc URLs for APIs used by the quickstart
      var DISCOVERY_DOCS = ["https://www.googleapis.com/discovery/v1/apis/gmail/v1/rest"];

      // Authorization scopes required by the API; multiple scopes can be
      // included, separated by spaces.
      var SCOPES = 'https://www.googleapis.com/auth/gmail.readonly '+
 	 				'https://www.googleapis.com/auth/gmail.send';

      var authorizeButton = document.getElementById('authorize-button');
      var signoutButton = document.getElementById('signout-button');
      var sendButton = document.getElementById('send-button');

      /**
       *  On load, called to load the auth2 library and API client library.
       */
      function handleClientLoad() {
        gapi.load('client:auth2', initClient);
      }

      /**
       *  Initializes the API client library and sets up sign-in state
       *  listeners.
       */
      function initClient() {
        gapi.client.init({
          discoveryDocs: DISCOVERY_DOCS,
          clientId: CLIENT_ID,
          scope: SCOPES
        }).then(function () {
          // Listen for sign-in state changes.
			gapi.auth2.getAuthInstance().currentUser.listen(checkUser);
          // Handle the initial sign-in state.
            checkUser();
            authorizeButton.onclick = handleAuthClick;
            signoutButton.onclick = handleSignoutClick;
			sendButton.onclick = sendEmail;
        });
      }

      /**
       *  Called when the signed in status changes, to update the UI
       *  appropriately. After a sign-in, the API is called.
       */
	  
	  function checkUser(googleUser) {
		  isSignedIn = false;
		  if(gapi.auth2.getAuthInstance().isSignedIn.get()){
			  userid = gapi.auth2.getAuthInstance().currentUser.get().getId()
			  if(userid == GMAIL_USER_ID){
				  isSignedIn = true;
			  }
		  }
		  updateSigninStatus(isSignedIn);
	  }
	  
      function updateSigninStatus(googleUser) {
        if (isSignedIn) {
          authorizeButton.style.display = 'none';
          signoutButton.style.display = 'inline-block';
          sendButton.style.display = 'inline-block';
		  update();
        } else {
          authorizeButton.style.display = 'inline-block';
          signoutButton.style.display = 'none';
          sendButton.style.display = 'none';
        }
      }

      /**
       *  Sign in the user upon button click.
       */
      function handleAuthClick(event) {
		  options = new gapi.auth2.SigninOptionsBuilder();
		  options.setPrompt('select_account');
		  gapi.auth2.getAuthInstance().signIn(options);;
		  console.log(auth.currentUser.get().getId());
      }

      /**
       *  Sign out the user upon button click.
       */
      function handleSignoutClick(event) {
        gapi.auth2.getAuthInstance().signOut();
      }

      
	  
	  function update(){
          gapi.client.gmail.users.labels.list({
            'userId': 'me'
          }).then(function(response) {
	          var labels = response.result.labels;
          });
		  
          gapi.client.gmail.users.threads.list({
			  'userId': 'me', 'labelIds': TEMPLATE_LABEL_ID
          }).then(function(response) {
	          var templates = response.result.threads;
          });
		
	  }
    </script>

    <script async defer src="https://apis.google.com/js/api.js"
      onload="this.onload=function(){};handleClientLoad()"
      onreadystatechange="if (this.readyState === 'complete') this.onload()">
    </script>
</body>

